name: 'PR Analytics'
on:
    workflow_dispatch:
        inputs:
            report_date_start:
                description: 'Report date start(d/MM/yyyy)'
            report_date_end:
                description: 'Report date end(d/MM/yyyy)'
            projects: 
                description: 'List of projects with comma separated'
jobs:
    create-report:
        name: 'Create report'
        runs-on: ubuntu-latest
        steps:
            - name: 'Run script for analytics'
              uses: kevit-ashish-chandpa/test-analytics-for-pr@v2
              with:
                  GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }} # In the case of a personal access token, it needs to be added to the repository's secrets and used in this field.
                  GITHUB_REPO_FOR_ISSUE: pr-analytics # Make sure to specify the name of the repository where the issue will be created
                  GITHUB_OWNER_FOR_ISSUE: kevit-ashish-chandpa # Make sure to specify the owner of the repository where the issue will be created
                  GITHUB_OWNERS_REPOS: ${{ inputs.projects }} # Be sure to list the owner and repository name in the format owner/repo
                  CORE_HOURS_START: '9:00'
                  CORE_HOURS_END: '20:00'
                  TIMEZONE: 'Asia/Kolkata'
                  REPORT_DATE_START: ${{ inputs.report_date_start }}
                  REPORT_DATE_END: ${{ inputs.report_date_end }}
                  USE_CHARTS: true
                  SHOW_CORRELATION_GRAPHS: true
                  SHOW_ACTIVITY_TIME_GRAPHS: true
                  AGGREGATE_VALUE_METHODS: 'percentile, average'
                  HIDE_USERS: 'youtube-scrapping-team,Employee-Offboarding,developers-jump-start,dependabot[bot],Bar Buddy devs,Backend Team Bot Activity Analytics,OpenAI-Demo,Node Interns 2024,Trainee-Backend,The Warriors,Betbricks,Kevit-AI-Team,Madeira-Devs,R3Stemsell-Openai,Sys-Config-Check-Team,Canada Streamhub Backend Team,Canada Streamhub Frontend Team,Cedar Shores Backend Team,Cedar Shores Frontend Team,The Hannacup Backend Team,Elevonix developers,orient-museum-BE,Quick Projects,RS recuitment Team,Trainee-Backend-2023,Winrest-AI-Bot Team,winrest-developer-team-write,WBCA Member Backend Team,Zavo Platform Middleware,M2PG-Payment-Gateway Team Leads,M2PG-Payment-Gateway Backend Team,M2PG-Payment-Gateway Frontend Team'
                  STALE_PR_DAYS_THRESHOLD: '14' # Optional: tweak if you want a shorter/longer stale window
                  REVIEWER_MAX_PENDING_THRESHOLD: '5' # Optional: change to the warning limit that makes sense for your team
                  EXECUTION_OUTCOME: 'new-issue , collection'
